.form-box{
  width: 496px;
  margin: auto;
}

.export-wrapper {
  border: dashed #DDD 2px;
}

.export-preview {
  background: white;
  color: rgb(130, 133, 135);
  font-family: sans-serif;
  padding: 5px;
}

.pledged, .funded {
  color: #5cb85c;
}
.pledged, .togo {
  float: left;
  text-align: center;
}
.pledged {
  float:left;
  margin-left: 20px;
}
.togo {
  float: right;
  color: orange;
  font-size: 20px;
  margin-right: 20px;
}
.funded {
  text-align: center;
}

.text {
  margin: 0 0 10px;
  padding: 5px 20px 0 20px;
}
#render-wrapper {
  display: none;
}
